html,body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 300px;
    background-color: grey;
    color: green;
    display: block;
}

.navBar{
    width: 100%;
    background-color: yellow;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
}

.navBar a{
    text-decoration:none;
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

.navLeft{
    text-align: center;
    background-color: red;
    color: white;
    flex: 1;
}

.navMenu{
    border-left: 4px solid black;
    border-right: 4px solid black;
    background-color: black;
    display: flex;
    align-content: space-between;
    flex: 4;
}

.navMenu a{
    border: 1px solid #018dc4;
    border-radius: 3px;
    font: normal normal bold 16px/normal Verdana, Geneva, sans-serif;
    color:black;
    background: white;
    display: block;
}

.navRight{
    background-color: red;
    flex: 1;
}

.searchBar{
    float: left;
    display: inline-block;
}

.formSearch{
    display: inline-block;
}

.recherche{
    
}

.search{
    overflow: scroll;
}

.boutonco{
    float: right;
    color: white;
    border: 2px solid black;
    background-color: red;
    border-radius: 6px;
}

.main{
    width: 100%;
    height: auto;
    background-color: royalblue;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.left-side{
    height: inherit;
    background-image: url("assets/images/sideImg.png");
    background-color: white;
    flex: 1;
}

.content{
    background-color: red;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    flex: 4;
}

.right-side{
    height: inherit;
    background-image: url("assets/images/sideImg.png");
    background-color: white;
    flex: 1;
}

.footer{
    border-top: solid 4px black;
    width: 100%;
    display: block;
    background-color: red;
    margin-top: 20px;
}

